<h3><%= conversation.originator.fullname %> <br>
	<small><b>Subject:</b><%= conversation.subject %></small>
	<small><b>Date: </b><%= conversation.messages.last.created_at.strftime("%A, %b, %d, %Y at %I:%M%p") %></small>
</h3>

<%= truncate conversation.messages.last.body, length: 145 %>
<%= link_to "View", conversation_path(conversation) %>
