<!DOCTYPE HTML>

<html>
	<head>
		<title>UNIRIDE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">


				<% if current_user %>
				<h2><span style="font-weight:bold"><%= first_letter_uppercase current_user.firstName%> <%= current_user.lastName%></span><br> Where do you want to go today?</p>
				<p><%= link_to "Post a Trip", new_post_url, :class=>"button special"%> <%= link_to "Look for a ride", new_post_url, :class=>"button special"%></p>
				<%end%>

				<%unless user_signed_in? %>
				<h2><span style="font-weight:bold">UNIRIDE</span><br> Share Save Smile</p>

				<ul class="actions">
					<li><%= link_to "Log In", log_in_url, :class=>"button special"%></a></li>
				</ul>
				<ul class="actions">
					<li><%= link_to "Sign Up", sign_up_url, :class=>"button special"%></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2>Lorem ipsum feugiat tempus</h2>
					</header>
					<div class="features">
						<div class="feature">
							<i class="fa fa-university"></i>
							<h3>Etiam consequat</h3>
							<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
						</div>
						<div class="feature">
							<i class="fa fa-users"></i>
							<h3>Sed adipiscing</h3>
							<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
						</div>
						<div class="feature">
							<i class="fa fa-car"></i>
							<h3>Feugiat nullam</h3>
							<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
						</div>
						<div class="feature">
							<i class="fa fa-envelope-o"></i>
							<h3>Amet imperdiet</h3>
							<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
						</div>
						<div class="feature">
							<i class="fa fa-smile-o"></i>
							<h3>Tempus lorem</h3>
							<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
						</div>
					</div>
				</div>
				<%end%>
			</section>

			<section id="one" class="wrapper special">
					<% if current_user %>
					 <ul class="actions">
						<li><%= link_to "Sign Out", destroy_user_session_path, :method=> :delete, :class=>"button special"%></li>	
					</ul>
					<%end%>
			</section>		


		<!-- Footer -->

			<footer id="footer">
				<div class="copyright">
					&copy; Uniride.2017</a>
				</div>
			</footer>

		<!-- Scripts -->
			<!-- <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<!-- <script src="assets/js/main.js"></script> -->

	</body>
</html>
