<div class="row">
    <div class="five columns">
      <%= g.label :street %>
      <%= g.text_field :street, :class=>"u-full-width" %>
    </div>

    <div class="three columns">
      <%= g.label :city %>
      <%= g.text_field :city, :class=>"u-full-width" %>
    </div>

    <div class="two columns">
      <%= g.label :state %>
      <%= g.text_field :state, :class=>"u-full-width" %>
    </div>

    <div class="two columns">
      <%= g.label :zip %>
      <%= g.text_field :zip, :class=>"u-full-width" %>
    </div>
</div>