<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.firstName %>
</p>

<p>
  <strong>Address:</strong>
  <% @addresses.each do |address| %>
  	<p>
  	  <strong>Street:</strong>
	  <%= address.street %>
	</p>

	<p>
	  <strong>City:</strong>
	  <%= address.city %>
	</p>

	<p>
	  <strong>State:</strong>
	  <%= address.state %>
	</p>

	<p>
	  <strong>Zip:</strong>
	  <%= address.zip %>
	</p>

  <%end%>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
