<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.firstName %>
</p>

<p>
  <strong>Address:</strong>
  <% @addresses.each_with_index do |address, index| %>

  	<% if index==0 %>
      <h4>Source</h4>
    <%else%>
    	<h4>Destination</h4>
    <%end%>

	<p><%= address.full_address %>	
	<br/>Latitude: <%= address.latitude %>
	<br/>Longitude: <%= address.longitude %>
	</p>
  <%end%>
</p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="<%=@iframe_src%>" allowfullscreen>
</iframe>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
