<!DOCTYPE html>
<html>
  <head>
    <title>Uniride</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  </head>

  <body>
  <% unless user_signed_in?%> 
  	<div class="alert-notice"><p class="notice"><%= notice %></p></div>
  <% end %>
  	<div class="alert-error"><p class="alert">
      <% if alert %>
        <button class="close"> × </button>
        <%= alert %>
      <script>      
        $(".close").click(function(){
          $(".alert-error").hide();
        });
      </script>
      <% end %>
    </p></div>

    <%= yield %>
  </body>
</html>
