<!DOCTYPE html>
<html>
  <head>
    <title>Uniride</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  </head>

  <body>
  <%if user_signed_in? %>
  <div class="container-nav">
      <div class="row">
        <div class="four columns">
          <%=link_to 'UniRide', root_url, :class=>"uniride-nav u-pull-left" %></div>
        <div class="two columns">
          <span class="nav-element">
            Feed
          </span>
        </div>
        <div class="two columns">
          <%= link_to'Profile', profile_url, :class => "nav-element" %>
        </div>
        <div class="two columns">
          <%= link_to 'Account', edit_user_registration_url, :class=>"nav-element" %>
        </div>
        <div class="two columns">
          <span class="nav-element">
            Search
          </span>
        </div>
      </div>
  </div>

  <div class="create-margin"></div>
  <%end%>
  <% unless user_signed_in?%> 
  	<div class="alert-notice"><p class="notice"><%= notice %></p></div>
  <% end %>
  	<div class="alert-error"><p class="alert">
      <% if alert %>
        <button class="close"> × </button>
        <%= alert %>
      <script>      
        $(".close").click(function(){
          $(".alert-error").hide();
        });
      </script>
      <% end %>
    </p></div>

    <%= yield %>
  </body>
</html>
